<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновление дерева</title>
</head>
<body>
<form action="" method=post>
    <label for="search">Запрос</label>
    <input type="text" name="search" id="search"><br>
    <label for="pid">PID</label>
    <input type="number" min="1" name="pid" id="pid"><br>
    <label for="relevance">Соответствие</label>
    <input type="number" step="0.01" min="1.0" max="3.0" name="relevance" id="relevance"><br>
    <input type="submit" value="Отправить">
</form>
</body>
</html>